pyrogram
tgcrypto<=1.2.3
aiohttp
python-dotenv<=0.20.0
motor
aiofiles
dnspython
apscheduler
requests
psutil
pyromod
Flask==1.1.2
werkzeug==2.0.2
gunicorn==20.1.0
Jinja2==3.0.3
itsdangerous==2.0.1
pymongo[srv]==3.12.3